<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE sqlMap  PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN"  "http://ibatis.apache.org/dtd/sql-map-2.dtd">
<sqlMap namespace="easytop.cms.context">

	<typeAlias alias="context" type="com.easytop.cms.bean.Context"/>

	<insert id="add" parameterClass="map">
		INSERT INTO LESSON_CONTEXT(`LESSONID`, `TEMPID`, `NAME`, `CONTEXT`,`SOURCE`,`NEWFILENAME`, `CREATETIME`, `CREATOR`, `SORT`)
		 VALUES(#lessonId#, #tempId#, #name#, #context#,#source#,#newFileName#, NOW(), #creator#,#sort#)
	</insert>
	
	<select id="getMaxSort" parameterClass="map" resultClass="int">
		SELECT MAX(`SORT`) FROM LESSON_CONTEXT WHERE `LESSONID` = #lessonId#
	</select>
	
	<select id="getMenu" parameterClass="map" resultClass="context">
		SELECT C.`ID`, C.`LESSONID`, C.`TEMPID`, C.`NAME`, C.`CONTEXT`,C.`SOURCE`,C.`NEWFILENAME`, C.`CREATETIME`, C.`CREATOR`,C.`HIDDEN`,
		T.`TYPE`, T.`NAME` AS TEMPNAME FROM LESSON_CONTEXT C  LEFT OUTER JOIN LESSON_TEMPLATE T ON C.`TEMPID` = T.`ID`
		WHERE `LESSONID` = #lessonId# ORDER BY C.`SORT`
	</select>
	
	<select id="list" parameterClass="map" resultClass="context">
		SELECT C.`ID`, C.`LESSONID`, C.`TEMPID`, C.`NAME`, C.`CONTEXT`,C.`SOURCE`,C.`NEWFILENAME`, C.`CREATETIME`, C.`CREATOR`,C.`HIDDEN`,
		T.`TYPE`, T.`NAME` AS TEMPNAME FROM LESSON_CONTEXT C  LEFT OUTER JOIN LESSON_TEMPLATE T ON C.`TEMPID` = T.`ID`
		WHERE `LESSONID` = #lessonId# ORDER BY C.`SORT`
		<dynamic prepend="LIMIT">
			<isNotEmpty property="start" prepend="," >
				#start#,#pageSize#
			</isNotEmpty>
		</dynamic>
	</select>
	
	<select id="getTotal" parameterClass="map" resultClass="int">
		select count(*) FROM LESSON_CONTEXT C  LEFT OUTER JOIN LESSON_TEMPLATE T ON C.`TEMPID` = T.`ID`
		WHERE `LESSONID` = #lessonId# 
	</select>
	
	<delete id="deleteById" parameterClass="map">
		DELETE FROM LESSON_CONTEXT WHERE ID = #id#
	</delete>
	
	<select id="viewByTechId" parameterClass="map" resultClass="context">
		SELECT C.`ID`, C.`LESSONID`, C.`TEMPID`, C.`NAME`, C.`CONTEXT`,C.`SOURCE`,C.`NEWFILENAME`, C.`CREATETIME`, C.`CREATOR`,C.`HIDDEN`,
		T.`TYPE`, T.`NAME` AS TEMPNAME FROM LESSON_CONTEXT C  LEFT OUTER JOIN LESSON_TEMPLATE T ON C.`TEMPID` = T.`ID` 
		<dynamic prepend="WHERE">
			<isNotEmpty property="id" prepend="AND">
				C.ID = #id#
			</isNotEmpty>
			<isNotEmpty property="techId" prepend="AND">
				C.LESSONID = #lessonId# 
			</isNotEmpty>
		</dynamic>
		ORDER BY  C.`SORT` LIMIT 1;
	</select>
	
	<update id="update" parameterClass="map">
		UPDATE LESSON_CONTEXT
		<dynamic prepend="SET">
			<isNotEmpty property="name" prepend=",">
				`NAME` = #name#
			</isNotEmpty>
			<isNotEmpty property="context" prepend=",">
				`CONTEXT` = #context#
			</isNotEmpty>
			<isNotEmpty property="source" prepend=",">
				`SOURCE` = #source#
			</isNotEmpty>
			<isNotEmpty property="newFileName" prepend=",">
				`NEWFILENAME` = #newFileName#
			</isNotEmpty>
			<isNotEmpty property="hidden" prepend=",">
				`HIDDEN` = #hidden#
			</isNotEmpty>
			<isNotEmpty property="sort" prepend=",">
				`SORT` = #sort#
			</isNotEmpty>
		</dynamic>
		WHERE ID = #id#
	</update>
	
</sqlMap>