@CHARSET "UTF-8";
form{
	width: 330px;
	margin: auto;
	margin-left: 70%;
}

.pub_footer {
    clear: both;
    color: #333333;
    display: block;
    font: 12px/24px '微软雅黑';
    margin: 0 auto;
    padding: 10px 0 0;
    text-align: center;
    width: 98%;
}
.pub_footer a:hover, .pub_footer a:active {
    color: #FF0000 !important;
    text-decoration: none !important;
}
.pub_footer dl {
    border-top: 1px solid #CCCCCC;
    overflow: hidden;
    padding: 0 0 0px;
}
.pub_footer dd a {
    color: #333333;
}
.pub_footer dt {
    height: 49px;
    padding: 5px 0 10px;
    text-align: center;
}
.pub_footer dt a {
    margin: 0 5px;
    padding: 0;
}
.pub_footer dt a img {
    border: 1px solid #CCCCCC;
    height: 47px;
}
.pub_footer dd.backblue {
    color: #666666;
    padding: 8px 0 5px;
}
.pub_footer dd.backblue a {
    color: #333333;
    font-weight: normal;
    padding: 0 10px;
}
.pub_footer dd.backblue a:link, .pub_footer dd.backblue a:visited, .pub_footer dd.backblue a:hover, .pub_footer dd.backblue a:active {
    color: #333333;
    font-weight: normal;
}
.pub_footer .qq, .pub_footer .weibo, .pub_footer .online, .pub_footer .email, .pub_footer .phone {
    margin-right: 15px;
}
.pub_footer .qq {
    background: url("http://csdnimg.cn/www/images/pic_footer_icon.png") no-repeat scroll -17px -111px rgba(0, 0, 0, 0);
    display: inline-block;
    padding-left: 17px;
}
.pub_footer .qq:hover {
    background: url("http://csdnimg.cn/www/images/pic_footer_icon.png") no-repeat scroll -17px -138px rgba(0, 0, 0, 0);
    display: inline-block;
    padding-left: 17px;
}
.pub_footer .weibo {
    background: url("http://csdnimg.cn/www/images/pic_footer_icon.png") no-repeat scroll -14px -52px rgba(0, 0, 0, 0);
    display: inline-block;
    padding-left: 22px;
}
.pub_footer .weibo:hover {
    background: url("http://csdnimg.cn/www/images/pic_footer_icon.png") no-repeat scroll -13px -81px rgba(0, 0, 0, 0);
    display: inline-block;
    padding-left: 22px;
}
.pub_footer .online {
    background: url("http://csdnimg.cn/www/images/pic_footer_icon.png") no-repeat scroll -17px -165px rgba(0, 0, 0, 0);
    display: inline-block;
    padding-left: 20px;
}
.pub_footer .online:hover {
    background: url("http://csdnimg.cn/www/images/pic_footer_icon.png") no-repeat scroll -17px -193px rgba(0, 0, 0, 0);
    display: inline-block;
    padding-left: 20px;
}
.pub_footer .email {
    background: url("http://csdnimg.cn/www/images/pic_footer_icon.png") no-repeat scroll -17px -220px rgba(0, 0, 0, 0);
    display: inline-block;
    padding-left: 20px;
}
.pub_footer .email:hover {
    background: url("http://csdnimg.cn/www/images/pic_footer_icon.png") no-repeat scroll -17px -248px rgba(0, 0, 0, 0);
    display: inline-block;
    padding-left: 20px;
}
.pub_footer .phone {
    background: url("http://csdnimg.cn/www/images/pic_footer_icon.png") no-repeat scroll -17px 1px rgba(0, 0, 0, 0);
    display: inline-block;
    padding-left: 20px;
}
.pub_footer .phone:hover {
    background: url("http://csdnimg.cn/www/images/pic_footer_icon.png") no-repeat scroll -17px -27px rgba(0, 0, 0, 0);
    display: inline-block;
    padding-left: 20px;
}